
.container {
	background: url('images/sea-edge-79ab30e2.png');
    padding: 20px;
    width: 40%;
    margin-top: 2%;
    background-repeat:none;
}

span
{
    color: white;
}

#chat_box
{
/*    width: 90%;*/
    height:50%;
    margin-top: 4px;
}
.form-group
{
    margin-bottom: 10px;
    margin-top: 5px;
    color: white;
}


body
{
    background: url('images/sea-edge-79ab30e2.png');
    background-repeat:no-repeat;
}
